<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>There is nothin' here, nigga</h1>
    <h2>There is nothin' here, nigga</h2>
    <h3>There is nothin' here, nigga</h3>
    <h4>There is nothin' here, nigga</h4>
    <h5>There is nothin' here, nigga</h5>
    <h6>There is nothin' here, nigga</h6>
  </body>
</html>
